name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
      - main

env:
  AWS_REGION: ap-southeast-2
  AWS_ACCOUNT_ID: 769392325585
  ECR_BACKEND_REPO: backend-app
  ECR_FRONTEND_REPO: frontend-app

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      # ---------- Checkout ----------
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------- Backend Tests ----------
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install backend dependencies
        run: |
          cd backend
          pip install -r requirements.txt

      - name: Run backend tests
        run: |
          cd backend
          PYTHONPATH=. pytest

      # ---------- Frontend Build ----------
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm ci

      - name: Build frontend
        run: |
          cd frontend
          npm run build

      # ---------- AWS Auth ----------
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # ---------- Docker Build & Push ----------
      - name: Build and push Docker images
        run: |
          TAG=${{ github.sha }}

          # Backend
          docker build -t backend:latest backend
          docker tag backend:latest $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_BACKEND_REPO:latest
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_BACKEND_REPO:latest

          # Frontend
          docker build -t frontend:latest frontend
          docker tag frontend:latest $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_FRONTEND_REPO:latest
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_FRONTEND_REPO:latest

  deploy:
    needs: build-test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: Deploy backend to ECS
        run: |
          aws ecs update-service \
            --cluster devops-backend-cluster \
            --service devops-backend-service \
            --force-new-deployment \
            --region ap-southeast-2
