name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      # ---------------- Checkout ----------------
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------------- Backend Tests ----------------
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install backend dependencies
        run: |
          cd backend
          pip install -r requirements.txt

      - name: Run backend tests
        run: |
          cd backend
          pytest

      # ---------------- Frontend Build ----------------
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm ci

      - name: Frontend build
        run: |
          cd frontend
          npm run build

      # ---------------- AWS Auth ----------------
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # ---------------- Docker Build & Push ----------------
      - name: Build and push Docker images
        run: |
          TAG=${{ github.sha }}

          echo "Building backend image..."
          docker build -t backend:$TAG backend
          docker tag backend:$TAG 769392325585.dkr.ecr.ap-southeast-2.amazonaws.com/devops-backend:$TAG
          docker push 769392325585.dkr.ecr.ap-southeast-2.amazonaws.com/devops-backend:$TAG

          echo "Building frontend image..."
          docker build -t frontend:$TAG frontend
          docker tag frontend:$TAG 769392325585.dkr.ecr.ap-southeast-2.amazonaws.com/frontend-app:$TAG
          docker push 769392325585.dkr.ecr.ap-southeast-2.amazonaws.com/frontend-app:$TAG

  deploy:
    name: Deploy to ECS
    needs: build-test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy Backend to ECS
        run: |
          aws ecs update-service \
            --cluster devops-cluster \
            --service backend-service \
            --force-new-deployment
